.logo img{
    width: 80px;
}

.container{
    display: flex;     
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-basis: 33.33333%; /* Ocupa 1/3 da página */
    min-width: 300px;   /* com o tamnho mínimo de 300px */
}

article img {
    width: 250px;
}